
$colors:(
    c0:#000000,
    c1:#00b0f0,
    c2:#3bc6f8,
    c3:#63cdf3,
    c4:#A0E6FF,
    c5:#BFEFFF,
    c6:#ffffff,
);

@function getC($k){
    @return map-get($colors, $k);
}

.qz_fire_grad_back{
    background: linear-gradient(to left,
        rgba(getC(c0), 0.8),
        rgba(getC(c0), 0.8),
        rgba(getC(c1), 0.8),
        rgba(getC(c2), 0.8),
        rgba(getC(c3), 0.8),
        rgba(getC(c4), 0.8),
        rgba(getC(c5), 0.8)
    );
    color: getC(c0);
    box-shadow: 0px 0px 0px getC(c0);
    border: 1px solid getC(c0);
}

.qz_fire_light_back{
    background: linear-gradient(to left,
        rgba(getC(c0), 0.6),
        rgba(getC(c0), 0.6),
        rgba(getC(c1), 0.6),
        rgba(getC(c2), 0.6),
        rgba(getC(c3), 0.6),
        rgba(getC(c4), 0.6),
        rgba(getC(c5), 0.6)
    );
    color: getC(c6);
}

.qz_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
    user-select: none;
}

.qz_btn_f_lg{
    font-size: 20px;
}

.qz_btn_close{
    border: 1px solid getC(c5);
    color: getC(c5);
}

.qz_btn_close:hover{
    background: getC(c5);
    color: getC(c1);
}

.qz_container{
    color: getC(c0);
}

// Below is Info modal CSS

.qz_info_row{
    margin-bottom: 0.5rem;
    border-bottom: 1px solid getC(c0);
    padding: 0.25rem;
}

.qz_info_r_tag{
    padding-left: 2rem;
}

.qz_info_r_val{
    padding-left: 5rem;
}

// Below Confirm Modal CSS

.qz_conf_row{
    margin-bottom: 0.75rem;
    border-bottom: 2px solid getC(c0);
    padding: 0.5rem;
}

.qz_conf_r_tag{
    padding-left: 1rem;
}

.qz_conf_r_val{
    padding-left: 4rem;
}

.qz_btn_confirm{
    border: 2px solid getC(c0);
    color: getC(c0);
}

.qz_btn_backtrack{
    border: 2px solid getC(c0);
    color: getC(c0);
}

.qz_btn_backtrack:hover{
    background: getC(c0);
    color: getC(c6);
}

.qz_btn_confirm:hover{
    background: getC(c0);
    color: getC(c6);
}

.qz_btn_cancel{
    border: 1px solid getC(c6);
    color: getC(c6);
}

.qz_btn_cancel:hover{
    background: getC(c6);
    color: getC(c0);
}

// Below is Match Info CSS

.qz_match_info{
    border-bottom: 2.5px solid getC(c0);
    padding: 0.5rem;
    margin-bottom: 0.75rem;
}

.qz_match_info_tag{
    padding-left: 3rem;
}

.qz_match_info_val{
    text-align: center;
}

.qz_match_info_row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.qz_col2{
    width: 50%;
    padding: 1rem;
}

.qz_match_row{
    margin-bottom: 0.5rem;
    border-bottom: 1px solid getC(c0);
    padding: 0.25rem;
}

.qz_match_r_tag{
    padding-left: 1rem;
}

.qz_match_r_val{
    padding-left: 4rem;
}

// Below is Final Rank modal CSS

.qz_rank_row{
    margin-bottom: 1.5rem;
    border-bottom: 2px solid getC(c0);
    padding: 0.25rem;
}

.qz_rank_r_tag{
    padding-left: 2rem;
}

.qz_rank_r_val{
    padding-left: 5rem;
}

// Below is misc

.qz_force_form{
    padding-right: 0.5rem;
    border-right: 2px solid getC(c0);
    margin-right: 1rem;
}

.qz_force_form_msg {
    font-size: 14px;
    margin-bottom: 0.25rem;
}

.qz_force_form_inp {
    font-size: 16px;
    border: 0;
    border-radius: 2px;
    padding: 2px;
    text-indent: 2px;
    font-family: MontserratAltSemiBold;
}