$colors:(
    primary: #ffffff,
    secondary: #000000,
    alternate: #888888
);

@function gc($k) {
    @return map-get($colors, $k);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
}

.qz_splash_body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.qz_splash_container {
    z-index: 999990;
    width: 75%;
    height: 75%;
    background: transparent;
    position: relative;
}

.qz_author {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: gc(primary);
    z-index: 999992;
}

.qz_splash_content_container {
    z-index: 999991;
    height: 100%;
    width: 0px;
    background: gc(secondary);
    position: absolute;
    left: 0;
    transition: 1.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qz_splash_content {
    z-index: 999992;
    background: transparent;
    transition: 1.2s ease;
}

.qz_anim_slow_up {
    animation-name: slowUp;
    animation-duration: 1.2s;
    animation-timing-function: ease;
}

.qz_anim_slow_down {
    animation-name: slowDown;
    animation-duration: 1.2s;
    animation-timing-function: ease;
}

.qz_fontas {
    stroke: gc(primary);
    stroke-width: 7.5px;
    fill: transparent;
}

.qz_fontas:nth-child(1) {
    stroke-dasharray: 621px;
    stroke-dashoffset: 621px;
    animation: fontView 2s ease-in forwards 0.3s;
}
.qz_fontas:nth-child(2) {
    stroke-dasharray: 609px;
    stroke-dashoffset: 609px;
    animation: fontView 2s ease-in forwards 0.6s;
}
.qz_fontas:nth-child(3) {
    stroke-dasharray: 619px;
    stroke-dashoffset: 619px;
    animation: fontView 2s ease-in forwards 0.9s;
}
.qz_fontas:nth-child(4) {
    stroke-dasharray: 558px;
    stroke-dashoffset: 558px;
    animation: fontView 2s ease-in forwards 1.2s;
}
.qz_fontas:nth-child(5) {
    stroke-dasharray: 555px;
    stroke-dashoffset: 555px;
    animation: fontView 2s ease-in forwards 1.5s;
}
.qz_fontas:nth-child(6) {
    stroke-dasharray: 519px;
    stroke-dashoffset: 519px;
    animation: fontView 2s ease-in forwards 1.8s;
}
.qz_fontas:nth-child(7) {
    stroke-dasharray: 555px;
    stroke-dashoffset: 555px;
    animation: fontView 2s ease-in forwards 2.1s;
}
.qz_fontas:nth-child(8) {
    stroke-dasharray: 481px;
    stroke-dashoffset: 481px;
    animation: fontView 2s ease-in forwards 2.4s;
}
.qz_fontas:nth-child(9) {
    stroke-dasharray: 481px;
    stroke-dashoffset: 481px;
    animation: fontView 2s ease-in forwards 2.7s;
}

.qz_btn_proceed_parent {
    height: 8rem;
    padding: 2rem 0;
}

.qz_btn_proceed {
    padding: 1rem 4rem;
    width: 100%;
    font-size: 1.5rem;
    border: 1px solid gc(secondary);
    border-radius: 0.5rem;
    background: none;
    color: gc(primary);
    transition: 1s ease;
    position: relative;
    text-align: center;
    z-index: 0;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.qz_btn_proceed::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: gc(primary);
    transition: 1s ease;
    z-index: -1;
}

.qz_btn_proceed::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: gc(primary);
    transition: 1s ease;
    z-index: -1;
}

.qz_btn_proceed:hover {
    color: gc(secondary);
}

.qz_btn_proceed:hover::before {
    width: 120%;
}
.qz_btn_proceed:hover::after {
    width: 120%;
}


@keyframes fontView {
    80% {
        fill: transparent;
    }
    99% {
        stroke-dasharray: 150px;
    }
    100% {
        stroke-dasharray: 0px;
        fill: gc(primary);
        stroke: gc(alternate);
    }
}

@keyframes slowUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slowDown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}