* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  min-height: 100%;
  background: #9e9e9e;
}

html::-webkit-scrollbar {
  width: 7px;
  background: #4b4b4b;
  -webkit-box-shadow: inset 0px 0px 1px #9e9e9e;
          box-shadow: inset 0px 0px 1px #9e9e9e;
}

html::-webkit-scrollbar-thumb {
  background: #e4e4e4;
}

.qz_edit_link {
  color: #d89518;
}

.qz_delete_link {
  color: red;
}

.qz_data_view_container {
  background: #e4e4e4;
  color: #000000;
  margin: 0.5rem 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 2px 2px #000000, 0px 2px 3px #e4e4e4, 0px 2px 4px #c2c2c2, 0px 2px 5px #9e9e9e;
          box-shadow: 0px 2px 2px #000000, 0px 2px 3px #e4e4e4, 0px 2px 4px #c2c2c2, 0px 2px 5px #9e9e9e;
  position: relative;
  overflow: hidden;
}

.qz_data_view_head {
  background: #000000;
  color: #ffffff;
  margin-bottom: 0.25rem;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}

.qz_btn_caps {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0.25rem 0.5rem;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.qz_btn_caps_white {
  border: 2px solid #ffffff;
  background: #000000;
  color: #ffffff;
}

.qz_btn_caps_white:hover .qz_searchBox {
  background: #ffffff;
  color: #000000;
}

.qz_btn_caps_white:hover {
  background: #ffffff;
  color: #000000;
}

.qz_btn_caps_grey {
  border: 2px solid #c2c2c2;
  background: #000000;
  color: #c2c2c2;
}

.qz_btn_caps_grey:hover .qz_searchBox {
  background: #c2c2c2;
  color: #000000;
}

.qz_btn_caps_grey:hover {
  background: #c2c2c2;
  color: #000000;
}

.qz_caps_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qz_searchRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qz_searchBox {
  line-height: 1.4rem;
  font-size: 1rem;
  border: 0;
  text-indent: 5px;
  border-radius: 2px;
  font-family: MontserratAltSemiBold;
  background: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #ffffff;
}

.qz_data_view_body {
  background: #000000;
  color: #ffffff;
  margin-bottom: 0.25rem;
  padding: 0.5rem 0;
  overflow: scroll;
  -webkit-animation-name: slowSizing;
          animation-name: slowSizing;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.qz_data_view_body::-webkit-scrollbar {
  background: #000000;
  -webkit-box-shadow: inset 0px 0px 1px #ffffff;
          box-shadow: inset 0px 0px 1px #ffffff;
}

.qz_data_view_body::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.qz_data_view_table {
  padding: 0.5rem;
  border: 0;
  border-collapse: collapse;
  border-spacing: 1;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.qz_data_view_tb_1 {
  border: 2px solid #4b4b4b;
  background: #e4e4e4;
}

.qz_data_view_tb_1 thead tr {
  margin: 0 0 0 2px;
  border-bottom: 2px solid #ffffff;
}

.qz_data_view_tb_1 thead th {
  padding: 1rem 0;
  border-left: 1px solid #ffffff;
  background: #000000;
  color: #c2c2c2;
}

.qz_data_view_tb_1 tbody tr {
  border-bottom: 1px solid #ffffff;
  background: #4b4b4b;
  color: #ffffff;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.qz_data_view_tb_1 tbody tr:hover {
  background: #ffffff;
  color: #353535;
}

.qz_data_view_tb_1 tbody td {
  padding: 0.25rem 0.5rem;
  border-left: 1px solid #ffffff;
}

.qz_data_view_foot {
  border: 2px solid #000000;
  background: #353535;
  color: #ffffff;
  padding: 0.25rem 1rem;
  border-radius: 0 0 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.qz_data_view_foot:hover {
  border: 2px solid #000000;
  background: #ffffff;
  color: #000000;
}

.qz_data_view_foot .qz_data_body_togg {
  height: 2.5rem;
  width: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qz_data_view_foot .qz_data_body_togg p {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 2rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.qz_form_head {
  background: #000000 !important;
  color: #ffffff;
  border: 1px solid #e4e4e4;
  padding: 0.5rem 1rem;
}

.qz_form_body {
  background: #e4e4e4;
  color: #000000;
}

.qz_form_foot {
  background: #000000 !important;
  color: #ffffff;
  border: 1px solid #e4e4e4;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qz_form {
  padding: 0.5rem 1rem;
  background: #e4e4e4;
}

.qz_form_group {
  margin: 0.25rem 0 0.5rem 0;
  border-bottom: 2px solid #000000;
  padding: 0 0 0.5rem 0;
}

.qz_form_grp1 {
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qz_form_grp2 {
  padding: 0.125rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qz_form_input {
  width: 100%;
  border: 0;
  line-height: 2rem;
  text-indent: 0.5rem;
  font-size: 1rem;
  font-family: MontserratAltSemiBold;
  border-radius: 5px;
  border: 0.5px solid #353535;
}

.qz_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 2rem;
  margin: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.qz_btn_submit {
  border: 2px solid #adff2f;
  color: #adff2f;
}

.qz_btn_submit:hover {
  background: #adff2f;
  color: #000000;
}

.qz_btn_cancel:hover {
  background: #ffffff;
  color: #000000;
}

.qz_match_sec_info {
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qz_match_tv_pair {
  width: 35%;
  margin: 0.5rem 1rem;
}

.qz_match_status {
  padding: 0.5rem;
  color: #c2c2c2;
  font-size: 12px;
}

#qz_match_status {
  color: #ffffff;
  font-size: 16px;
}

.qz_match_tag {
  padding: 0.25rem 1rem;
}

.qz_match_val {
  padding: 0.25rem 0.5rem 0.25rem 3rem;
}

.qz_players_sec_info {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #000000;
}

.qz_match_info_player_1 {
  width: 45%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.qz_match_info_player_2 {
  width: 45%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.qz_match_pl_pair {
  border-bottom: 1px solid #000000;
}

.qz_winner {
  background: rgba(138, 255, 123, 0.5);
  color: #000000;
}

.qz_loser {
  background: rgba(255, 158, 129, 0.5);
  color: #000000;
}

.qz_winner_dk {
  background: -webkit-gradient(linear, left top, right top, from(rgba(75, 75, 75, 0.6)), color-stop(rgba(75, 75, 75, 0.6)), to(rgba(23, 150, 7, 0.6)));
  background: linear-gradient(to right, rgba(75, 75, 75, 0.6), rgba(75, 75, 75, 0.6), rgba(23, 150, 7, 0.6));
  color: #ffffff;
}

.qz_loser_dk {
  background: -webkit-gradient(linear, left top, right top, from(rgba(75, 75, 75, 0.6)), color-stop(rgba(75, 75, 75, 0.6)), to(rgba(190, 1, 1, 0.6)));
  background: linear-gradient(to right, rgba(75, 75, 75, 0.6), rgba(75, 75, 75, 0.6), rgba(190, 1, 1, 0.6));
  color: #ffffff;
}

.qz_info_link {
  color: #1b69fa;
}

@-webkit-keyframes slowSizing {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes slowSizing {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=qz_data_viewer_1.css.map */